<a href="https://colab.research.google.com/github/wolego2uni/ibm_demo/blob/main/4_6_Pandas_7_Basic_Time_Series_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas - Working with Time Series Date Data

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

# Let's create a pandas series that logs time every hour from 1st Nov'19 to 7th Nov'19
df = pd.date_range(start='11/01/2019', end='11/07/2019', freq='H')
df

DatetimeIndex(['2019-11-01 00:00:00', '2019-11-01 01:00:00',
               '2019-11-01 02:00:00', '2019-11-01 03:00:00',
               '2019-11-01 04:00:00', '2019-11-01 05:00:00',
               '2019-11-01 06:00:00', '2019-11-01 07:00:00',
               '2019-11-01 08:00:00', '2019-11-01 09:00:00',
               ...
               '2019-11-06 15:00:00', '2019-11-06 16:00:00',
               '2019-11-06 17:00:00', '2019-11-06 18:00:00',
               '2019-11-06 19:00:00', '2019-11-06 20:00:00',
               '2019-11-06 21:00:00', '2019-11-06 22:00:00',
               '2019-11-06 23:00:00', '2019-11-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='H')

**NOTE ISO 8601 format**
-  yyyy-mm-dd hh:mm:ss

In [2]:
len(df)

145

In [12]:
#Now let's turn our series into a dataframe
df = pd.DataFrame(df, columns=['date'])

# And add a 'made up' column for sales data
df['sales'] = np.random.randint(0,1000,size=(len(df)))
df.head()

                 date  sales
0 2019-11-01 00:00:00    679
1 2019-11-01 01:00:00    465
2 2019-11-01 02:00:00     49
3 2019-11-01 03:00:00    378
4 2019-11-01 04:00:00    156

# Selecting using dates

In [13]:
# Set your date as the index 
df = df.set_index('date')
df.head()

                     sales
date
2019-11-01 00:00:00    679
2019-11-01 01:00:00    465
2019-11-01 02:00:00     49
2019-11-01 03:00:00    378
2019-11-01 04:00:00    156

## Using .loc[] to index specific dates

In [15]:
# Selecting using date - getting exact value for cell 
df.loc['2019-11-01 03:00:00', 'sales']

378

In [16]:
# Selecting using date to return the row corresponding to that date
df.loc['2019-11-01 03:00:00']

sales    378
Name: 2019-11-01 03:00:00, dtype: int64

In [17]:
# Selecting an entire day
df.loc['2019-11-01']

# Similary you an use df.loc['2019-11'] to select and entire month

                     sales
date
2019-11-01 00:00:00    679
2019-11-01 01:00:00    465
2019-11-01 02:00:00     49
2019-11-01 03:00:00    378
2019-11-01 04:00:00    156
2019-11-01 05:00:00    389
2019-11-01 06:00:00    426
2019-11-01 07:00:00    293
2019-11-01 08:00:00    783
2019-11-01 09:00:00    174
2019-11-01 10:00:00    211
2019-11-01 11:00:00    451
2019-11-01 12:00:00    438
2019-11-01 13:00:00    567
2019-11-01 14:00:00    196
2019-11-01 15:00:00    794
2019-11-01 16:00:00    349
2019-11-01 17:00:00    618
2019-11-01 18:00:00    685
2019-11-01 19:00:00    141
2019-11-01 20:00:00    504
2019-11-01 21:00:00    842
2019-11-01 22:00:00    927
2019-11-01 23:00:00    592

In [24]:
df.loc['2019-11-01':'2019-11-02']

                     sales
date
2019-11-01 00:00:00    679
2019-11-01 01:00:00    465
2019-11-01 02:00:00     49
2019-11-01 03:00:00    378
2019-11-01 04:00:00    156
2019-11-01 05:00:00    389
2019-11-01 06:00:00    426
2019-11-01 07:00:00    293
2019-11-01 08:00:00    783
2019-11-01 09:00:00    174
2019-11-01 10:00:00    211
2019-11-01 11:00:00    451
2019-11-01 12:00:00    438
2019-11-01 13:00:00    567
2019-11-01 14:00:00    196
2019-11-01 15:00:00    794
2019-11-01 16:00:00    349
2019-11-01 17:00:00    618
2019-11-01 18:00:00    685
2019-11-01 19:00:00    141
2019-11-01 20:00:00    504
2019-11-01 21:00:00    842
2019-11-01 22:00:00    927
2019-11-01 23:00:00    592
2019-11-02 00:00:00    138
2019-11-02 01:00:00    114
2019-11-02 02:00:00    540
2019-11-02 03:00:00     45
2019-11-02 04:00:00    524
2019-11-02 05:00:00    365
2019-11-02 06:00:00    142
2019-11-02 07:00:00    112
2019-11-02 08:00:00     35
2019-11-02 09:00:00    483
2019-11-02 10:00:00    580
2019-11-02 11:00:00    342
2019-11-02 12:00:00    655
2019-11-02 13:00:00    208
2019-11-02 14:00:00    956
2019-11-02 15:00:00    539
2019-11-02 16:00:00    343
2019-11-02 17:00:00    576
2019-11-02 18:00:00     62
2019-11-02 19:00:00     41
2019-11-02 20:00:00    455
2019-11-02 21:00:00    660
2019-11-02 22:00:00     42
2019-11-02 23:00:00    279

In [18]:
# Selecting a range of dates
df.loc['2019-11-01':'2019-11-02']

                     sales
date
2019-11-01 00:00:00    679
2019-11-01 01:00:00    465
2019-11-01 02:00:00     49
2019-11-01 03:00:00    378
2019-11-01 04:00:00    156
2019-11-01 05:00:00    389
2019-11-01 06:00:00    426
2019-11-01 07:00:00    293
2019-11-01 08:00:00    783
2019-11-01 09:00:00    174
2019-11-01 10:00:00    211
2019-11-01 11:00:00    451
2019-11-01 12:00:00    438
2019-11-01 13:00:00    567
2019-11-01 14:00:00    196
2019-11-01 15:00:00    794
2019-11-01 16:00:00    349
2019-11-01 17:00:00    618
2019-11-01 18:00:00    685
2019-11-01 19:00:00    141
2019-11-01 20:00:00    504
2019-11-01 21:00:00    842
2019-11-01 22:00:00    927
2019-11-01 23:00:00    592
2019-11-02 00:00:00    138
2019-11-02 01:00:00    114
2019-11-02 02:00:00    540
2019-11-02 03:00:00     45
2019-11-02 04:00:00    524
2019-11-02 05:00:00    365
2019-11-02 06:00:00    142
2019-11-02 07:00:00    112
2019-11-02 08:00:00     35
2019-11-02 09:00:00    483
2019-11-02 10:00:00    580
2019-11-02 11:00:00    342
2019-11-02 12:00:00    655
2019-11-02 13:00:00    208
2019-11-02 14:00:00    956
2019-11-02 15:00:00    539
2019-11-02 16:00:00    343
2019-11-02 17:00:00    576
2019-11-02 18:00:00     62
2019-11-02 19:00:00     41
2019-11-02 20:00:00    455
2019-11-02 21:00:00    660
2019-11-02 22:00:00     42
2019-11-02 23:00:00    279

# Resampling

**Summary States** - we can use Statistical methods over different time intervals
- mean(), sum(), count(), min(), max()

**Down-sampling**
- reduce datetime rows to longer frequency

**Up-sampling**
- increase datetime rows to shorter frequency

In [26]:
df.head()

                     sales
date
2019-11-01 00:00:00    679
2019-11-01 01:00:00    465
2019-11-01 02:00:00     49
2019-11-01 03:00:00    378
2019-11-01 04:00:00    156

In [30]:
# Using resample to get the average for each day per hour

df.resample('D').mean()
#df.resample('D').sum()

                 sales
date
2019-11-01  462.791667
2019-11-02  343.166667
2019-11-03  448.458333
2019-11-04  529.916667
2019-11-05  421.250000
2019-11-06  571.375000
2019-11-07  196.000000

In [31]:
# Using resample to get the average for each minute (downsampling)

df.resample('T').mean()

                     sales
date
2019-11-01 00:00:00  679.0
2019-11-01 00:01:00    NaN
2019-11-01 00:02:00    NaN
2019-11-01 00:03:00    NaN
2019-11-01 00:04:00    NaN
...                    ...
2019-11-06 23:56:00    NaN
2019-11-06 23:57:00    NaN
2019-11-06 23:58:00    NaN
2019-11-06 23:59:00    NaN
2019-11-07 00:00:00  196.0

[8641 rows x 1 columns]

## Resampling frequencies

- 'min', 'T' - minute
- ‘H’ - hour
- ‘D’ - day
- ‘B’ - business day
- ‘W’ - week
- ‘M’ - month
- ‘Q’ - quarter
- ‘A’ - year

# Parsing dates

In [32]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [34]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [37]:
pd.to_datetime('2019-01-01', format='%Y-%m-%d', errors='ignore')

Timestamp('2019-01-01 00:00:00')

##Course ##

Data Science, Analytics & AI for Business & the Real World by Rajeev D. Ratan